{% extends 'base_generic.html' %}
{% load static %}

{% block title %}RNames - Wizard{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="app"></div>
{% endblock %}

{% block script %}
    {{ names|json_script:"DATA_NAMES" }}
    {{ locations|json_script:"DATA_LOCATIONS" }}
    {{ qualifier_names|json_script:"DATA_QUALIFIER_NAMES" }}
    {{ qualifiers|json_script:"DATA_QUALIFIERS" }}
    {{ structured_names|json_script:"DATA_STRUCTURED_NAMES" }}
    {{ references|json_script:"DATA_REFERENCES" }}
    {{ amend_info|json_script:"AMEND_INFO" }}
    <script src="{% static 'frontend/main.js' %}"></script>
{% endblock %}
