.hide-overflow {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.v-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.h-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.check-notop {
  top: 0 !important;
}

.tooltip-wrapper {
  position: relative;
  opacity: 0;
}

.tooltip-content {
  display: none;
  position: absolute;
  max-width: 400px;
  max-height: 200px;
  overflow-y: auto;
  transform: translateY(-100%);
}

.tooltip:hover > .tooltip-wrapper > .tooltip-content {
  display: inline-block;
}

.tooltip:hover > .tooltip-wrapper {
  width: auto;
  height: auto;
  opacity: 1;
  transition: opacity 0.1s linear 1.6s;
}
