{% extends 'base_generic.html' %}
{% block title %}RNames - Home{% endblock %}

{% block content %}
  <!-- Beginning of binning -->
  <!DOCTYPE html>

<section class="w3-section" id='binning-log'>
  <h1>Binning progress information</h1>
  <h3>Event log:</h3>
</section>

<script>

let query_url = '{% url "binning-status" task_id %}'
let redirect_url = '{% url "time-scale-detail" pk %}'
let log = []

window.addEventListener('DOMContentLoaded', () => {
  const binningProgressBar = document.getElementById('binningProgressBar')

  const updateProgressLabel = document.getElementById('updateProgressLabel')
  const updateProgressBar = document.getElementById('updateProgressBar')
  const updateProgressBarContainer = document.getElementById('updateProgressBarContainer')
  const update = () => fetch(query_url)
    .then(v => v.json())
    .then(v => {
      console.log(v)
      let str = `[${v.state}]${v.info ? ' ' + v.info.msg : ''}`
      if (log.empty || log[log.length - 1] == str)
        return

      log.push(str)
      let p = document.createElement('p')
      p.appendChild(document.createTextNode(str))
      document.getElementById('binning-log').appendChild(p)

      if (v.state == 'SUCCESS')
        window.location.replace(redirect_url);
    })
  update()
  setInterval(update, 5000)
});
</script>
  <!-- End of binning -->

{% endblock %}
