{% extends "base_generic.html" %}
{% block title %}RNames - Binning Scheme list{% endblock %}

{% block content %}
  <!-- Write your comments here -->
  <article>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-search"> Search</i></button>
        <a href="{% url 'time-scale-list' %}" class="w3-button w3-border w3-hover-light-grey"><i class="fas fa-undo"> Reset filter</i></a>
    </form>
    {% if user.is_authenticated %}
      <br>
      <a class="btn btn-default" href="{% url 'time-scale-new' %}"><span class="fa  fa-plus"></span> Add</a>
      <br>
    {% endif %}

    {% if page_obj %}
      <table class="w3-table-all">
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>

        {% for x in page_obj %}
          <tr>
            <td>{{ x.ts_name }}</td>
            <td>
                <a class="btn btn-default" href="{% url 'time-scale-detail' pk=x.pk %}"><span class="fa fa-search"></span></a>
                <a class="btn btn-default" href="{% url 'time-scale-edit' pk=x.pk %}"><span class="fa fa-pencil-square-o"></span></a>
                <a class="btn btn-default" href="{% url 'time-scale-delete' pk=x.pk %}"><span class="fa  fa-trash-o"></span></a>
              </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are no Schemes available.</p>
    {% endif %}

  </article>
  {% include 'pagination.html' %}

{% endblock %}
